.tv_size{
	resize: horizontal;
	min-width: 1821px;
	height:1000px;
}

.desktop_size{
	resize: horizontal;
	max-width: 1301px;
	min-width:1046px;
	height:1000px;
}

.tablet_size{
	resize:horizontal;
	min-width: 789px; 
	max-width: 1045px;
	height:800px;
}

.phone_size{
	resize: horizontal;
	min-width: 502px;
	max-width: 788px;
	height:400px;
}


.small_phone_size{
	resize: horizontal;
	min-width: 341px;
	max-width: 501px;
	height:350px;
}

