.tv_size{
	resize: horizontal;
	min-width: 1800px;
	height:1000px;
}

.desktop_size{
	resize: horizontal;
	max-width: 1281px;
	width:1281px;
	min-width:1025px;
	height:1000px;
}

.tablet_size{
	resize:horizontal;
	min-width: 768px;
	width: 1024px; 
	max-width: 1024px;
	height: 800px;
}

.phone_size{
	resize: horizontal;
	min-width: 481px;
	max-width: 767px;
	width: 767px;
	height: 400px;
}


.small_phone_size{
	resize: horizontal;
	min-width: 315px;
	max-width: 480px;
	width: 480px;
	height:360px;
}

